@use "variables";
@use "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: variables.$font-family-base;
}

.main-wrapper {
  background-color: colors.$bg-color;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgba(15, 13, 60, .5) 0%, rgba(15, 13, 60, 0.2)50%, rgba(15, 13, 60, 0.5) 100%);
}