.header-wrapper {
  width: 50%;
  border: 3px solid #5b6a81;

  h3 {
    font-weight: 700;
    margin-bottom: 0;
  }

  .score {
    letter-spacing: 3px;
  }

  .score-number {
    font-size: 50px;
  }
}
