.winner-wrapper {
  .title {
    font-size: 36px;

    @media (max-width: 425px) {
      font-size: 24px;
    }
  }

  .rps {
    height: 180px;
    width: 180px;

    @media (max-width: 425px) {
      height: 100px;
      width: 100px;
    }

    .rps-icon {
      height: 90px;
      width: 90px;

      @media (max-width: 425px) {
        height: 60px;
        width: 60px;
      }
    }
  }

  .win-title {
    font-size: 48px;
  }

  .btn-white {
    background: white;
    color: black;
    letter-spacing: 3px;

    &:hover {
      background-color: white;
      color: #da2e4e;
    }
  }
}

.circle--3 {
  background-color: rgba(255, 255, 255, 0.01);
  animation: smoothGrowing3 0.75s ease-in-out;
}

.circle--2 {
  background-color: rgba(255, 255, 255, 0.03);
  animation: smoothGrowing2 0.5s ease-in-out;
}

.circle--1 {
  background-color: rgba(255, 255, 255, 0.06);
  animation: smoothGrowing1 0.25s ease-in-out;
}

.paper {
  background-color: #5372f0;
}

.rock {
  background-color: #da2e4e;
}

.scissor {
  background-color: #eca334;
}

.popup {
  height: 350px;
  width: 600px;
}
