<div class="my-3 p-3 d-flex justify-content-between mx-auto rounded-4 text-white header-wrapper">
  <div>
    <h3 class="text-uppercase">Rock</h3>
    <h3 class="text-uppercase">paper</h3>
    <h3 class="text-uppercase">scissors</h3>
  </div>
  <div class="bg-white py-2 px-4 rounded-2 d-flex flex-column justify-content-center">
    <p class="text-primary score mb-0 text-uppercase">score</p>
    <div class="text-center">
      <p class="text-secondary mb-0 score-number">{{score}}</p>
    </div>
  </div>
</div>